html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

:root {
    --c-bg1: #EEEEE8;

    --t-light: #FDF2E6;
    --t-primary: #322723;
    --t-titles: #D52438;
    --t-stamp: #E33137;

    --f-general: "Crimson Pro";
    --f-titles: "Cormorant Garamond";
    --f-instructions: "Caveat";

    --weight-bold: 700;
}

html {
    color: var(--t-primary);
    padding-block-start: 3vh;
    background-image: url('../assets/background.jpg');
    background-size: contain;
    background-color: var(--c-bg1);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    font-family: var(--f-general);
    font-size: clamp(0.9rem, 1.1rem + 0.2vw, 1.1rem);
    line-height: 140%;
}

a {
    text-decoration: none;
    color: var(--t-primary);
    cursor: pointer;
}

h2,
h3 {
    font-family: var(--f-titles);
    font-size: clamp(1.5rem, 2rem + 0.5vw, 2.5rem);
    font-weight: 500;
    line-height: 1.1;
}

section {
    padding-block-start: 10vh;
    padding-block-end: 3vh;
    padding-inline-start: 4vw;
    padding-inline-end: 4vw;
}

.red {
    color: var(--t-titles);
}

.instructions {
    font-family: var(--f-instructions);
    font-weight: var(--weight-bold);
    color: var(--t-titles);
    font-size: clamp(1rem, 1.2rem + 0.2vw, 1.4rem);
    padding-inline: 1vw;
    padding-block: 1vh;
    text-decoration: underline;
}

strong {
    color: var(--t-titles);
}

.navbar {
    display: flex;
    padding: 0.5vh;
    position: sticky;
    top: 0;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
}

.navbar p {
    font-size: clamp(1.5rem, 2rem + 0.5vw, 2.5rem);
    color: var(--t-primary);
    font-weight: 100;
}

.nav__moon {
    display: none;
    max-width: 40px;
}

.nav__sun {
    display: block;
    max-width: 55px;
}

.logo {
    flex-grow: 0;
    flex-shrink: 0;
}

.logo img {
    padding-inline-start: 5vw;
    max-width: 110px;
}

header {
    padding-inline-start: 4vw;
    padding-inline-end: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__img {
    margin-block-start: -9vh;
    max-width: 270px;
}

.hero__title {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-block-start: 1vh;
}

h1 {
    font-family: var(--f-titles);
    font-size: clamp(3rem, 3.5rem + 0.4vw, 3.8rem);
    text-transform: uppercase;
    font-weight: var(--weight-bold);
}

h1 .red {
    font-size: clamp(3.5rem, 4rem + 0.5vw, 4.2rem);
}

.hero__subtitle {
    padding-inline-start: 2vw;
    padding-inline-end: 2vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.subtitle__text {
    grid-area: 1 / 1 / 3 / 3;
    font-family: var(--f-titles);
    font-weight: var(--weight-bold);
    font-size: clamp(2.2rem, 3rem + 0.4vw, 3.3rem);
    line-height: 1;
}

.subtitle__regular {
    font-weight: 400;
}

.subtitle__semi {
    font-weight: 600;
}

.subtitle__clock {
    grid-area: 1 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.subtitle__clock img {
    grid-area: 1 / 2 / 2 / 2;
    max-width: 85px;
    justify-self: end;
    transform: rotate(4.14deg);
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.subtitle__clock .instructions {
    padding-block-start: 1vh;
    grid-row: 2;
    grid-column: -3 / 4;
}

.birth {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 1vh;
    row-gap: 4vh;
}

.birth__title {
    align-self: flex-end;
    grid-column: 1;
    grid-row: 1;
}

.birth__text {
    grid-column: span 2;
    grid-row: 2;
}

.title__baby {
    justify-self: flex-end;
    grid-column: 2;
    grid-row: 1;
    width: 140px; 
    height: 146.76px;  
    overflow: hidden;
    position: relative;  
}

.title__baby canvas {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.apprentice {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.apprentice__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.apprentice__title--text {
    display: flex;
    flex-direction: column;
}

.apprentice h2 {
    line-height: 1.5;
}

.apprentice img {
    transform: rotate(-11deg);
    margin-inline-start: -15vw;
    max-width: 135px;
    animation: beat 1s infinite ease-in-out;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
    }
}

.apprentice__content img {
    display: none;
}

.title__love {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.love {
    display: grid;
    grid-template-columns: repeat(4, 1.7rem);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: clamp(2.5rem, 2.9rem + 0.4vw, 3.2rem);
    font-family: var(--f-titles);
}

.love__l {
    grid-area: 1 / 1 / 3 / 2;
}

.love__o {
    grid-area: 2 / 2 / 4 / 3;
}

.love__v {
    grid-area: 1 / 3 / 3 / 4;
}

.love__e {
    grid-area: 2 / 4 / 4 / 5;
}

.love__small {
    font-family: var(--f-titles);
    font-size: clamp(1.5rem, 2rem + 0.5vw, 2.5rem);
    font-weight: 500;
}

.title__h3 {
    display: none;
}

.apprentice__text {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-block-end: 8vh;
}

section .question {
    padding-inline: 0vw;
}

.question {
    border-top: solid var(--t-titles) 2px;
    padding-block-start: 2vh;
    width: 100%;
}

.question__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block-end: 1vh;
}

.text__q {
    font-size: clamp(0.8rem, 1rem + 0.2vw, 1.1rem);
    color: var(--t-titles);
    font-weight: 500;
}

.text__q:hover {
    text-decoration: underline;
}

.text__arrow {
    font-family: "inter";
    color: var(--t-titles);
    transition: transform 0.3s ease;
    display: inline-block;
}

.question__text:hover .text__arrow {
    transform: scaleX(1.5);
}

.antwerp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    overflow-x: hidden;
    position: relative;
    padding-block-end: 10vh;
}

.antwerp__img,
.antwerp__img+picture {
    position: absolute;
    align-self: flex-end;
    margin-inline-end: -2rem;
    margin-block-start: 5vh;
    max-width: 250px;
    top: 2rem;
}

.antwerp__img+picture {
    display: none;
}

.antwerp__martina {
    display: none;
}

.antwerp__moretus {
    display: none;
}

.title__c,
.title__l {
    font-size: clamp(4rem, 8rem + 1vw, 9.3rem);
    font-weight: 500;
}

.antwerp h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.8rem, 2.2rem + 0.5vw, 2.8rem);
    margin-block-start: 8rem;
    text-align: center;
}

.antwerp h2 p {
    margin-block-end: -9vh;
}

.antwerp__interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-end: 5vh;
    
}

.antwerp__interaction img {
    position: absolute;
    transform: rotate(85deg);
    max-width: 60px;
    z-index: 2;
    position: relative;
    touch-action: none;
}

.text__l {
    display: none;
}

.antwerp .question {
    margin-inline-end: 2vw;
}

.night {
    background-image: url('../assets/background_night.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FDF2E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 2vh;
    position: relative;
    z-index: 20;
}

.night h2 {
    line-height: 1.4;
    align-self: flex-start;
    padding-block-start: 2vh;
}

.night__plantin {
    max-width: 210px;
    margin-block-start: -2rem;
    align-self: center;
}

.plantinBeaten,
.paragraph2 {
    display: none;
}

.paragraph1, .paragraph2 {
    max-width: 700px;
}

.plantinBeaten {
    margin-block-start: -2.5rem;
}

.attackers {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100vw;
    height: auto;
}

.night strong {
    color: #eb5062;
}

.house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 4vh;
    cursor: url('../assets/scissor.svg') -32 50, pointer;
}

.house__opening {
    z-index: 1;
}

.house .instructions {
    color: var(--t-primary);
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 100vw;
    text-decoration: none;
}

.house h2 {
    text-transform: uppercase;
    color: var(--t-titles);
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    max-width: 30rem;
}

.house__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.house__text{
    padding-block-end: 5vh;
    font-family: var(--f-general);
    font-size: clamp(0.9rem, 1.1rem + 0.2vw, 1.1rem);
    line-height: 140%;
}

.house__text p {
    font-size: clamp(0.9rem, 1.1rem + 0.2vw, 1.1rem);
}

.house__text > :first-child{
    padding-block-end: 3vh;
}

.house__sign {
    width: 135px;
    height: 103.77px;
    overflow: hidden;
    position: relative;
}

.house__sign canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house__text,
.house__sign,
.house .question,
.house h2 {
    position: absolute;    
    left: -9999px;         
    pointer-events: none;  
    transition: left 0.3s ease-in-out; 
}

.house.active .house__opening,
.house.active .instructions {
    position: absolute;
    left: -9999px;  
}

.house.active .house__text,
.house.active .house__sign,
.house.active .question,
.house.active h2 {
    position: relative;  
    left: 0;             
    pointer-events: auto; 
}

.raid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.raid h2 {
    line-height: 1.2;
}

.raid__text {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-block-end: 8vh;
    padding-inline: 4vw;
    font-family: var(--f-general);
    font-size: clamp(0.9rem, 1.1rem + 0.2vw, 1.1rem);
    line-height: 140%;
}

.raid__text p {
    font-family: var(--f-general);
    font-size: clamp(0.9rem, 1.1rem + 0.2vw, 1.1rem);
    line-height: 140%;
}

.antwerp__animation {
    width: 320.38px;
    height: 274px;
    overflow: hidden;
    position: relative;
}

.antwerp__animation canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paris__animation {
    width: 287.75px;
    height: 274px;
    overflow: hidden;
    position: relative;
}

.paris__animation canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.raid__antwerp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-block-end: 4vh;
}

.raid__paris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-block-end: 4vh;
}

.raid__switch {
    display: flex;
    gap: 5vw;
}

.raid__switch img {
    max-width: 50px;
}

.raid__paris .raid__switch img {
    transform: scaleX(-1);
}

.raid__paris {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.raid .instructions {
    text-decoration: none;
}

.visible {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: auto;
}

.botanic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-block-start: 20vh;
    cursor: url('../assets/brush.svg') -32 50, crosshair;
}

.botanic__single {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botanic__single img,  .botanic__single canvas{
    margin-block-end: -10vh;
    max-width: 400px;
}

.single__canvas {
    opacity: 0;
    pointer-events: none;
}

.single__black,
.single__colour {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.single__colour {
    mask-image: url('');
    -webkit-mask-image: url('');
}

.botanic__flower,
.botanic__poppy {
    display: none;
}

.small__instructions {
    padding-block-start: 4vh;
    max-width: 60%;
    align-self: flex-end;
}

.large__instructions {
    display: none;
}

.death {
    position: relative;
    overflow: hidden;
    padding-inline: 0vw;
    margin-block-end: 15vh;
    margin-block-start: 5vh;
}

.death__sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    background-image: url('../assets/sheet1.jpg');
    background-size: cover;
    padding-block: 10vh;
    padding-inline: 6vh;
    position: relative;
    z-index: 2;
}

.death__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

 .death img {
    max-width: 270px;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    background-color: var(--t-titles);
    color: var(--t-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding-block-start: 3vh;
}

footer img {
    padding-block-start: var(--s1);
    max-width: 105px;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1.4rem, 1.6rem + 0.2vw, 1.7rem);
    line-height: 1.2;
    padding-inline-start: 6vw;
    padding-inline-end: 6vw;
}

.footer__text {
    display: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

.button {
    font-family: "Cormorant Garamond";
    font-size: clamp(1rem, 1.05rem + 0.2vw, 1.1rem);
    padding: 0.5rem;
    color: var(--t-titles);
    text-transform: uppercase;
    font-weight: var(--weight-bold);
    cursor: pointer;
    background-image: url('../assets/button.svg');
    background-size: 236px 49px;
}

.footer__instructions {
    text-decoration: underline;
    padding-inline-end: 8vw;
    padding-block-end: 3vh;
    padding-block-start: 10vh;
    align-self: flex-end;
    color: var(--t-light);
    font-size: 1.3rem;
}

@media screen and (max-width: 328px) {
    .hero__subtitle {
        padding-inline: 0vw;
    }

    .subtitle__clock {
        padding-block-start: 4vh;
        margin-inline-end: -2vw;
    }

    .house__sign {
        margin-inline-start: -13vw;
    }
}

@media screen and (min-width: 768px) {
    main {
        font-size: clamp(1rem, 1.25rem + 0.2vw, 1.25rem);
    }

    h2,h3 {
        line-height: 0.7;
        font-size: clamp(2.5rem, 3rem + 0.2vw, 3rem);
    }

    .instructions {
        font-size: clamp(1.2rem, 1.4rem + 0.2vw, 1.4rem);
    }

    .question {
        align-self: flex-end;
        max-width: 55vw;
        margin-inline-end: 6vw;
        margin-block-start: 3vh;
    }

    .logo img {
        max-width: 170px;
    }

    .header__img {
        max-width: 400px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: clamp(4.8rem, 5.6rem + 0.2vw, 5.6rem);
        margin-inline-start: -10vw;
    }

    h1 .red {
        font-size: clamp(5rem, 6rem + 0.2vw, 6rem);
    }

    .subtitle__text {
        font-size: clamp(3.5rem, 4.3rem + 0.2vw, 4.3rem);
    }

    .hero {
        padding-block-end: 5vh;
    }

    .hero__subtitle {
        display: flex;
        flex-direction: column;
        padding-inline: 0vw;
    }

    .subtitle__clock {  
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .subtitle__clock .instructions{
        padding-block-start: 1vh;
        padding-block-end: 0vh;
        max-width: 10rem;
        font-size: clamp(1.2rem, 1.4rem + 0.2vw, 1.6rem);
    }

    .navbar {
        padding-inline-end: 1.5vw;
    }

    .nav__sun {
        max-width: 75px;
    }

    .nav__moon {
        max-width: 65px;
    }

    .birth {
        gap: 0vh;
    }

    .birth__title{
        margin-bottom: -1vh;
    }

    .birth__text {
        align-self: center;
        grid-column: 1;
        grid-row: 2;
    }

    .title__baby {
        align-self: center;
        grid-column: 2;
        grid-row: 2;
        width: 311px;
        height: 326px;
    }

    .apprentice__title {
        padding-block-end: 7vh;
    }

    .love {
        font-size: clamp(4rem, 4.5rem + 0.2vw, 4.7rem);
        grid-template-columns: repeat(4, auto);
    }

    .apprentice__title--text {
        text-align: center;
    }

    .title__love {
        align-items: center;
    }

    .apprentice__text {
        gap: 1.5vh;
        padding-block-end: 5vh;
    }

    .apprentice__title img {
        display: none;
    }

    .apprentice__content img {
        display: block;
        max-width: 330px;
        margin-inline-start: -15vw;
        margin-block-start: -15vh;
    }

    .apprentice__content {
        display: flex;
        gap: 5vw;
    }

    .apprentice .question {
        align-self: flex-end;
    }

    .antwerp__img {
        max-width: 475px;
    }

    .antwerp__img + picture {
        max-width: 475px;
    }

    .antwerp {
        padding-inline: 0vw;
        gap: 0vh;
    }

    .title__l {
        display: none;
    }

    .antwerp h2{
        margin-block-start: 0vh;
        line-height: 0.6;
        align-items: flex-end;
        align-self: flex-start;
    }

    .title__c {
        font-size: 22rem;
    }

    .antwerp h2 p {
        margin-block-end: 0vh;
        font-size: 6rem;
    }

    .text__l {
        display: block;
        font-family: var(--f-titles);
        font-size: clamp(4rem, 8rem + 1vw, 9.3rem);
        font-weight: 500;
        font-size: 25rem;
        align-self: center;
        padding-inline-end: 2vw;
    }

    .antwerp__text {
        padding-block-start: 2vh;
        padding-inline-start: 25vw;
    }

    .antwerp__content {
        display: flex;
    }

    .antwerp__martina, .antwerp__moretus {
    opacity: 0;
    transition: opacity 0.2s ease-in; 
    }


    .antwerp__martina {
        display: block;
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;
        padding-inline-end: 4vw;
        margin-block-end: -17vh;
    }

    .martina__portrait img{
        max-width: 200px;
    }

    .martina__heart {
        position: absolute;
        max-width: 32px;
        transform: scaleX(-1);
        top: 57%;
        left: 53%;
        animation: beat 1s infinite ease-in-out;
    }

    .antwerp__martina p{
        display: none;
    }

    .antwerp__moretus {
        display: block;
        position: relative;
        align-self: flex-start;
        margin-block-start: -8vh;
        padding-inline-start: 3vw;
    }

    .moretus__portrait img{
        max-width: 190px;    
    }

    .moretus__heart {
        position: absolute;
        max-width: 28px;
        top: 55%;
        left: 65%;
        animation: beat 1s infinite ease-in-out;
    }

    .antwerp__moretus p{
        display: none;
    }

    .antwerp__interaction {
        flex-direction: row-reverse;
        align-self: flex-end;
        margin-block-start: -10rem;
        max-width: 40vw;
        padding-inline-end: 4vw;
    }
  
    .night {
        background-image: url('../assets/background_night_l.png');
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 3vw;
        grid-row-gap: 2vh;
        min-height: auto;
        max-height: auto;
        overflow: hidden;
    }

    .night h2 {
        max-width: 60vw;
        grid-area: 1 / 1 / 2 / 3;
    }

    .paragraph1, .paragraph2 {
        padding-block-start: 4vh;
        align-self: flex-start;
        grid-area: 2 / 2 / 3 / 3;
    }

    .night__plantin {
        grid-area: 2 / 1 / 3 / 2;
    }

    .attackers {
        padding-block-start: 20vh;
        width: 500px;
    }

    .house {
        padding-inline: 0vw;
        gap: 2vh;
        transition: background-image 0.3s ease-in-out; 
    }

    .house .instructions {
        top: 50%;
        font-size: clamp(1.3rem, 1.5rem + 1vw, 2rem);
    }

    .house.active {
        margin-block-start: 10vh;
        background-image: url('../assets/printing_house.png'); 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .house h2 {
        font-size: clamp(2.5rem, 3rem + 2vw, 3.5rem);;
        max-width: fit-content;
    }

    .house__text {
        padding-inline: 8vw;
        padding-block-end: 3vh;
    }

    .house__text p{
        font-size: clamp(1rem, 1.25rem + 0.2vw, 1.25rem);
    }

    .house__text > :first-child {
        padding-block-end: 1vh;
    }

    .house__sign {
        width: 110px; 
        height: 144pxpx;  
        overflow: hidden;
        position: relative; 
    } 

    .house__sign canvas {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    .house .question {
        align-self: flex-start;
        margin-inline-start: 4vw;
    }

    .raid__text {
        padding-block-end: 2vh;
        gap: 1vh;
    }

    .raid__text p{
        font-size: clamp(1rem, 1.25rem + 0.2vw, 1.25rem);
    }

    .raid .question {
        margin-inline-end: 3vw;
    }

    .antwerp__animation {
        width: 320.38px;
        height: 274px;
    }

    .paris__animation {
        width: 288.9px;
        height: 275px;
    }

    .death img {
        min-width: 500px;
        height: auto;
    }

    .death__sheet {
        background-image: url('../assets/sheet.jpg');
    }

    .botanic__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    .botanic__single { 
        margin-inline-start: -30vw;
    }

    .botanic__single img,
    .botanic__single canvas {
        max-width: 400px;
    }

    .botanic__flower {
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline-start: -2vw;
    }

    .botanic__flower img,
    .botanic__flower canvas {
        max-width: 250px;
    }

    .flower__canvas {
        opacity: 0;
        pointer-events: none;
    }

    .flower__black,
    .flower__colour{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
    }

    .flower__colour{
        mask-image: url('');
        -webkit-mask-image: url('');
    }

    .large__instructions {
        display: block;
        align-self: flex-end;
    }

    .small__instructions {
        display: none;
    }

    footer {
        padding-block-start: 4vh;
    }

    footer img {
        max-width: 130px;
        padding-block-end: 2vh;
    }

    footer h2 {
        font-size: clamp(2rem, 2.2rem + 0.3vw, 2.5rem);
        max-width: 700px;
    }

    .footer__text {
        display: block;
        font-size: clamp(1rem, 1.1rem + 0.2vw, 1.125rem);
        max-width: 685px;
        line-height: 1.6;
    }

    .button {
        font-size: clamp(1.1rem, 1.2rem + 0.2vw, 1.3rem);
        margin-block-start: 5vh;
        padding-inline: 3vw;
    }

    .footer__instructions {
        font-size: 1.5rem;
        padding-block-end: 4.5vh;
    }
}

@media screen and (min-width: 1024px) {
   
    main {
        font-size: clamp(1.26rem, 1.3rem + 0.2vw, 1.34rem);
    }

    main p {
        line-height: 1.5;
    }

    h2,h3 {
        line-height: 0.7;
        font-size: clamp(3.9rem, 4rem + 0.2vw, 4.1rem);
    }

    .instructions {
        font-size: clamp(1.46rem, 1.5rem + 0.2vw, 1.54rem);
    }

    .question {
        font-size: clamp(1.26rem, 1.3rem + 0.2vw, 1.34rem);
        align-self: flex-end;
        max-width: 32rem;
        margin-inline-end: 0vw;
        margin-block-start: 8vh;
        padding-block-start: 3vh;
    }

    .navbar img{
        padding-inline-end: 1vw;
    }

    .navbar p {
        font-size: clamp(3.9rem, 4rem + 0.2vw, 4.1rem);
    }

    .logo img {
        padding-block-start: 0vh;
        max-width: 185px;
        padding-inline-start: 3vw;
    }

    .hero {
        padding-block-end: 7rem;
    }

    .header__img img{
        max-width: 550px;
        margin-inline-start: 0vw;
    }

    h1 {
        margin-inline-start: -4vw;
        font-size: clamp(8.5rem, 9rem + 0.2vw, 9.5rem);
    }

    h1 .red {
        font-size: clamp(9.5rem, 10rem + 0.2vw, 10.5rem);
    }

    .subtitle__text {
        font-size: clamp(6.7rem, 7rem + 0.2vw, 8rem);
        margin-inline-start: 0vw;
    }

    .subtitle__text .red{
        font-size: clamp(9.4rem, 9.6rem + 0.2vw, 10rem);
        font-weight: 500;
        white-space: nowrap;
    }

    .subtitle__regular, .subtitle__semi {
        display: block; 
        text-align: left;
        margin-inline-start: 10vw;
    }

    .subtitle__clock img {
        max-width: 170px;
    }

    .subtitle__clock {
        margin-block-start: -20vh;
        padding-inline-end: 5vw;
    }

    .subtitle__clock .instructions {
        font-size: clamp(1.96rem, 2rem + 0.2vw, 2.04rem);
        max-width: fit-content;
        margin-block-end: -3vh;
        margin-inline-end: -5vw;
    } */

    .birth {
        display: grid;
        grid-template-columns: minmax(500px,700px) max-content;
        grid-template-rows: auto auto; 
        gap: 1rem; 
        column-gap: 4rem;
        justify-self: center; 
    }

    .birth__title {
        grid-column: 1; 
        grid-row: 1; 
    }

    .birth__text {
        grid-column: 1; 
        grid-row: 2; 
        max-width: 750px;
    }

    .title__baby {
        width: 381px;
        height: 488px;
        grid-column: 2; 
        grid-row: 1 / 3; 
    }

    .apprentice {
        padding-block-end: 15rem;
    }

    .love {
        font-size: clamp(6.7rem, 7rem + 0.2vw, 8rem);
    }

    .title__love {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0vw;
        grid-row-gap: 0vh;
    }

    .title__love h2 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .love {
        grid-area: 2 / 2 / 3 / 4;
    }

    .love__small{
        align-self: flex-end;
        grid-area: 2 / 4 / 3 / 5;
    }

    .title__h3 {
        display: block;
        grid-area: 3 / 4 / 4 / 6;
        line-height: 0.7;
        font-size: clamp(3.9rem, 4rem + 0.2vw, 4.1rem);
        font-family: var(--f-titles);
        font-weight: 500;
    }

    .apprentice__title--text h3 {
        display: none;
    }

    .apprentice__content {
        align-self: center;
    }

    .apprentice__content img {
        margin-block-start: -20vh;
        max-width: 550px;
    }

    .apprentice__text {
        z-index: 1;
        max-width: 700px;
        margin-inline-end: -2vw;
        padding-block-end: 0vh;
    }

    .apprentice .question {
        z-index: 10;
        margin-block-start: -13rem;
    }
    
    .title__c {
        font-size: clamp(34.5rem, 35rem + 0.2vw, 35.5rem);
    }
    
    .antwerp h2 p {
        font-size: clamp(9.4rem, 9.6rem + 0.2vw, 10rem);
        margin-block-end: -3rem;
    }
    
    .text__l {
        font-size: clamp(34.5rem, 35rem + 0.2vw, 35.5rem);
    }

    .antwerp {
        padding-block-end: 15vh;
    }

    .antwerp__img, .antwerp__img + picture {
        padding-block-start: 0vh;
        max-width: 675px;
    }

    .antwerp__text {
        max-width: 60rem;
    }

    .antwerp__martina {
        display: block;
    }

    .antwerp__moretus {
        display: block;
    }

    .martina__portrait img {
        margin-block-end: -5vh;
        margin-inline-end: -5vw;
        min-width: 321px;
    }

    .moretus__portrait img {
        margin-block-start: -7vh;
        margin-inline-start: -1vw;
        min-width: 328px;
    }

    .martina__heart {
        margin-block-start: 10vh;
        margin-inline-end: -5vw;
        max-width: 50px;
    }

    .moretus__heart {
        margin-inline-start: 1rem;
        max-width: 52px;
    }

    .antwerp__interaction {
        flex-direction: row;
        margin-block-start: -15rem;
        padding-block-end: 2vh;
    }

    .antwerp__interaction p{
        max-width: 25rem;
    }

    .antwerp__martina, .antwerp__moretus {
        opacity: 1; 
    }

    .martina__heart, .moretus__heart {
        display: none; 
        transition: opacity 0.2s ease-in; 
    }

    .night {
        padding-inline: 8vw;
    }
    
    .night__plantin {
        margin-block-start: -4rem;
        max-width: 370px;
    }

    .attackers {
        margin-block-start: -10vh;
        width: 700px;
    }

   .house__title {
        display: contents;
   }

    .house {
        margin-block-start: 10vw;
   }

    .house .instructions {
        top: 47%;
    }

   .house.active {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-inline: 4vw;
        margin-block-start: 10vw;
   }

   .house.active h2 {
        font-size: clamp(6.7rem, 7rem + 0.2vw, 8rem);
        justify-self: center;
        grid-area: 1 / 1 / 2 / 3;
        padding-block-end: 4vh;
   }

   .house__sign {
        justify-self: center;
        align-self: flex-start;
        height: 202px;
        width: 220px;
        grid-area: 2 / 2 / 3 / 3;
   }

   .house__text {
        justify-self: center;
        grid-area: 2 / 1 / 3 / 2;
        padding: 0vw;
        max-width: 700px;
        margin-inline-end: -10vw;
   }

   .house .question {
        margin-block-start: 5vw;
        margin-inline: 0vw;
        grid-area: 3 / 2 / 4 / 3;
   }

   .raid h2 {
        margin-block-end: -8vh;
   }

    .raid__content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2vw;
    }

    .raid__switch {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1vh;
    }

    .raid__text {
        padding: 0;
        max-width: 720px;
        margin-block-start: -4vh;
    }

    .paris__animation {
        width: 435.83px;
        height: 415px;
    }

    .antwerp__animation {
        width: 484.65px;
        height: 415px;
    }

    .raid__antwerp {
        padding-block-end: 0;
    }

    .raid .question {
        align-self: flex-start;
        margin-block-start: -5vh;
    }

    .botanic {
        padding-inline: 0;
    }

    .botanic__content {
        gap: 3vw;
    }

    .botanic__text {
        max-width: 650px;
    }

    .botanic__single img,
    .botanic__single canvas {
        min-width: 550px;
    }

    .botanic__flower img,
    .botanic__flower canvas {
        max-width: 550px;
    }
    .large__instructions {
        margin-block-start: -3rem;
        padding-inline-end: 10vw;
    }

    .death__text {
        max-width: 750px;
    }

    .death__sheet {
        padding-block-start: 20vh;
        padding-block-end: 15vh;
        gap: 13vh;
    }

    .death img {
        max-width: 690px;
    }

    .death {
        padding-block-start: 10rem;
    }

    footer {
        padding-block-start: 4vh;
        gap: 2rem;
    }

    footer img {
        max-width: 190px;
    }

    footer h2 {
        max-width: 1100px;
    }

    .footer__text {
        font-size: clamp(1.2rem, 1.25rem + 0.2vw, 1.3rem);
        max-width: 900px;
    }

    .button {
        margin-block-start: 5rem;
        font-size: clamp(1.3rem, 1.4rem + 0.3vw, 1.5rem);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        gap: 10rem;
    }

    .subtitle__clock {
        margin-inline-start: 10rem;
    }

    .botanic__poppy {
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline-start: -2vw;
    }

    .botanic__poppy img,
    .botanic__poppy canvas {
        max-width: 350px;
    }

    .poppy__canvas {
        opacity: 0;
        pointer-events: none;
    }

    .poppy__black,
    .poppy__colour {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
    }

    .poppy__colour {
        mask-image: url('');
        -webkit-mask-image: url('');
    }
}