html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

:root {
    --s_2: .2rem;
    --s_1: .5rem;
    --s1: 1.7rem;
    --s2: 2.1rem;
    --s3: 1.5rem;
    --s4: 2rem;

    --fs-s: .8rem;
    --fs-m: 1.8rem;
    --fs-l: 2.5rem;
    --fs-xl: 2rem;

    --c-bg1: #EEEEE8;

    --t-light: #FDF2E6;
    --t-primary: #322723;
    --t-titles: #D52438;
    --t-stamp: #E33137;

    --f-instructions: "Caveat";

    --weight-bold: 700;
}

html {
    color: var(--t-primary);
}

.red {
    color: var(--t-titles);
}

.instructions {
    font-family: var(--f-instructions);
    font-weight: var(--weight-bold);
    color: var(--t-stamp);
}

footer {
    background-color: var(--t-titles);
    color: var(--t-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--s1);
    padding-block-end: 1.5rem;
}

footer img {
    padding-block-start: var(--s1);
    max-width: 105px;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    line-height: 1.5;
    padding-inline-start: 1.4rem;
    padding-inline-end: 1.4rem;
}

.footer__text {
    display: none;
    font-size: var(--fs-s);
    line-height: 1.5;
    margin: 0;
    max-width: 300px;
}

button {
    color: var(--t-titles);
    cursor: pointer;
    background-image: url('../assets/button.svg');
    border: none;
    outline: none;
    background: none;
}

/* .button__text {
    background-image: url("../assets/button.svg");
    text-transform: uppercase;
    font-weight: var(--weight-bold);
    color: var(--t-titles);
} */

@media screen and (min-width: 768px) {
    .footer__text {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding-block-start: 1.5rem;
        padding-block-end: 1.5rem;
    }

    footer img {
        max-width: 180px;
        padding-block-end: 1rem;
    }

    footer h2 {
        font-size: var(--fs-l);
        max-width: 700px;
    }

    .footer__text {
        font-size: 1.125rem;
        max-width: 685px;
    }
}

@media screen and (min-width: 1024px) {
    footer img {
        max-width: 190px;
    }

    footer h2 {
        max-width: 825px;
    }
}